/**
 * ACCORDION
 */

/* Title
   ========================================================================== */

.Accordion-title {
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.Accordion-title:first-child { border-radius: 4px 4px 0 0; }

.Accordion-title:last-of-type:not(.is--active) { border-radius: 0 0 4px 4px; }

/* Title modifiers */ 
.Accordion-title--blue {
  background-color: #1991ff;
  color: #fff;
}

.Accordion-title--yellow {
  background-color: #efbe0b;
  color: #fff;
}

.Accordion-title--red {
  background-color: #f4112f;
  color: #fff;
}

.Accordion-title--green {
  background-color: #11f4ac;
  color: #000;
}


/* Description
   ========================================================================== */

.Accordion-description {
  box-sizing: border-box;
  max-height: 0;
  margin-left: 0;
  background-color: #f6f6f6;
  line-height: 1.7;
  overflow: hidden;
  transition: all 0.3s ease;
}

.Accordion-description:last-child { border-radius: 0 0 4px 4px; }