/**
 * ACCORDION
 */

/* Title
   ========================================================================== */

.Accordion-title {
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover { opacity: 0.85; }
}

.Accordion-title:first-child { @include border-radius-top; }

.Accordion-title:last-of-type:not(.is-active) { @include border-radius-bottom; }

/* Title modifiers */ 

.Accordion-title--blue {
  background-color: $colorBlue;
  color: $fontColor;
}

.Accordion-title--yellow {
  background-color: $colorYellow;
  color: $fontColor;
}

.Accordion-title--red {
  background-color: $colorRed;
  color: $fontNegativeColor;
}

.Accordion-title--gray {
  background-color: $colorGray;
  color: $fontColor;
}

.Accordion-title--green {
  background-color: $colorGreen;
  color: $fontColor;
}


/* Description
   ========================================================================== */

.Accordion-description {
  box-sizing: border-box;
  max-height: 0;
  margin-left: 0;
  background-color: #f6f6f6;
  line-height: 1.7;
  overflow: hidden;
  transition: all 0.3s ease;
}

.Accordion-description:last-child { @include border-radius-bottom; }