/**
 * FOOTER
 */

.Footer { 
  padding: 30px 0;
  background-color: #1c1c1c;
  color: #d4d4d4;
  font-weight: 300;
}

/* Footer heart
   ========================================================================== */

.Footer-heart {
  color: #ff1c51;
}