/**
 * BASE
 *
 * File used to add common styles across all page.
 */

/* Body
   ========================================================================== */

 body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


/* Paragraphs
   ========================================================================== */

p { margin: 10px 0; }


/* Anchors
   ========================================================================== */

a {
  border-bottom: 2px solid #000;
  color: #000;
  text-decoration: none;

  &:hover { 
    border-bottom-color: #666;
    color: #666;
  }
}