/**
 * BASE
 *
 * File used to add common styles across all page.
 */

/* Body
   ========================================================================== */

 body {
  font-family: $fontFamily;
  font-size: $fontSize;
}


/* Paragraphs
   ========================================================================== */

p { margin: 10px 15px; }


/* Anchors
   ========================================================================== */

a {
  border-bottom: 2px solid $fontColor;
  color: $fontColor;
  text-decoration: none;

  &:hover { 
    border-bottom-color: #666;
    color: #666;
  }
}