/**
 * THEME
 *
 * Theme configuration.
 */

 /* Text
   ========================================================================== */

$fontSize: 16px;
$fontFamily: 'Roboto', sans-serif;
$fontColor: #000;
$fontNegativeColor: #fff;


 /* Colors
   ========================================================================== */

$colorBlue:       #1991ff;
$colorSalmon:     #FA8072;
$colorYellow:     #FFFACD;
$colorGreen:      #7FFFD4;
$colorPaleGreen:  #98FB98;