/**
 * THEME
 *
 * Theme configuration.
 */

 /* Text
   ========================================================================== */

$fontSize: 16px;
$fontFamily: 'Roboto', sans-serif;
$fontColor: #1c1c1c;
$fontNegativeColor: #fff;


 /* Colors
   ========================================================================== */

$headerColor:   #40efb8;

$colorBlue:     #2bdfff;
$colorRed:      #FA8072;
$colorYellow:   #f9ce4a;
$colorGray:     #a5a5a5;
$colorGreen:    #98FB98;