.c-accordion__title {
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.c-accordion__title:first-child { border-radius: 4px 4px 0 0; }

.c-accordion__title--blue {
  background-color: #1991ff;
  color: #fff;
}

.c-accordion__title--yellow {
  background-color: #efbe0b;
  color: #fff;
}

.c-accordion__title--red {
  background-color: #f4112f;
  color: #fff;
}

.c-accordion__title--green {
  background-color: #11f4ac;
  color: #000;
}

.c-accordion__description {
  box-sizing: border-box;
  margin-left: 0;
  padding: 20px 15px;
  background-color: #f6f6f6;
  line-height: 1.7;
}

.c-accordion__title:last-of-type:not(.c-accordion__title--active),
.c-accordion__description:last-child { border-radius: 0 0 4px 4px; }

.c-accordion__title:not(.c-accordion__title--active) + .c-accordion__description {
  display: none;
  max-width: 0;
  overflow: hidden;
} 