/**
 * WRAPPER
 */

.u-wrapper { height: 100vh; }


/* Content
   ========================================================================== */

.u-wrapperContent {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}